---
title: Data Mining Exercise 2 - data preparation
exercise-number: 2
other-links:
  - text: Aufgabenblatt 2 
    href: "../../../../_aufgaben/Aufgabenblaetter/2/02_Order_data_preparation_student.pdf"
    icon: file-pdf
code-links:
  - text: Aufgabenblatt 2 
    href: "../../../../_aufgaben/Aufgabenblaetter/2/02_Order_data_preparation_student.ipynb"
    type: "application/octet-stream"
    icon: file-code
downloads: [ipynb]
---

# Exercise 2 - Data preparation and aggregation
Imports the packages.

In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

## 2.1 Converting the data types
Read in the data "02_Orderdata.csv" and display the first lines.

In [ ]:
# space

Have the data types displayed.

In [ ]:
# space

Since the date field is easier to handle as a "DateTime" format, a conversion must be carried out using the pd.to_datetime(column) function. Execute this and check the data types.

**Tipp**: Alternatively, the "parse_dates" option can be used for the conversion directly during import via "read_csv()".

In [ ]:
# space

## 2.2 Standardization of the characteristics
Display the different characteristics of the T-shirt categories.

In [ ]:
# space

The dictionary lists the character strings that are to be standardized and with which character string they are to be replaced. Fill the dictionary accordingly for further values and check the values now available.

In [ ]:
replacer_dict = {'Bl Tshirt F' : 'Black T-Shirt F', 
                 '...
                }

df['tshirt_category'] = df['tshirt_category'].replace(to_replace = replacer_dict)
...

## 2.3 Product revenue
Calculate the revenue from price times quantity and save it in a new column of the data frame, which should be called total.

In [ ]:
# space

You then group the data by T-shirt category and display the total of all key figures.

In [ ]:
# space

Now visualize the sales per T-shirt category in a bar chart.

In [ ]:
fig = plt.figure(figsize=[16,12])
plt.bar(df_sum.index, df_sum.total.values)

plt.show()

## 2.4 Key figures per customer

Now you should aggregate the following parameters with "groupby" after "customer_id" as described:

- earliest "order_date" (Minimum)
- Mean value of "pages_visited"
- Sum of "total"

Then display the first 10 lines.

In [ ]:
# space

In [ ]:
# space

## Additional Exercise

this data is about flight data that was documented daily. it is about flights from Hanover to Munich.

In [ ]:
df = pd.read_csv('../../Data/flight_data.csv')
df

you will find these errors in the data.

In [ ]:
error_rows = df[
    (df['Flight_Duration_Minutes'] > 200) |  
    (df['Flight_Duration_Minutes'] < 20) |  
    (df['Price_Economy_Class'].isna()) |  
    (df['Passengers'] > 500) | 
    (df['Arrival_Airport'] != "MUC")  
]

error_rows

correct the two errors in the ‘Flight_Duration_Minutes’ column by replacing the values with the average. just try to understand the code.

In [ ]:
# Calculate the average flight duration excluding the erroneous values (greater than 200 or less than 20)
valid_flight_duration = df[(df['Flight_Duration_Minutes'] <= 200) & (df['Flight_Duration_Minutes'] >= 20)] # copy of the df without the errors in Flight_Duration_Minutes
average_duration = valid_flight_duration['Flight_Duration_Minutes'].mean() # average of the column Flight_Duration_Minutes without the errors

# Replace the erroneous values with the calculated average
df.loc[df['Flight_Duration_Minutes'] > 200, 'Flight_Duration_Minutes'] = average_duration
df.loc[df['Flight_Duration_Minutes'] < 20, 'Flight_Duration_Minutes'] = average_duration

# you saw two simple steps, just the calculation of the average (excluding the errors) and replacing the error rows with the calculated average

# Display the DataFrame errors after correction
error_rows = df[
    (df['Flight_Duration_Minutes'] > 200) |  
    (df['Flight_Duration_Minutes'] < 20) |  
    (df['Price_Economy_Class'].isna()) |  
    (df['Passengers'] > 500) | 
    (df['Arrival_Airport'] != "MUC")  
]

error_rows

correct the Nan value in the Price_Economy_Class column using linear interpolation. we can use linear interpolation well here, as we are dealing with chronological, related data

In [ ]:
# Perform linear interpolation to fill NaN values in the Price_Economy_Class column
df['Price_Economy_Class'] = df['Price_Economy_Class'].interpolate(method='linear')

#using linear interpolation is even just one row of code!

# Display the DataFrame errors after correction
error_rows = df[
    (df['Flight_Duration_Minutes'] > 200) |  
    (df['Flight_Duration_Minutes'] < 20) |  
    (df['Price_Economy_Class'].isna()) |  
    (df['Passengers'] > 500) | 
    (df['Arrival_Airport'] != "MUC")  
]

error_rows

we could also correct the passenger error by simply taking the average. sometimes, however, it makes sense not to lose the connection to other columns. it could be that the number of passengers varies due to the price, which is why we want to include this in the calculation of the average.

In [ ]:
# Filter the DataFrame for rows where the 'Price_Economy_Class' is between 185 and 195, we also exclude the error again
filtered_df = df[(df['Price_Economy_Class'] >= 185) & (df['Price_Economy_Class'] <= 195) & (df['Passengers'] <= 1000) ]

# Calculate the average number of passengers for the filtered rows
average_passengers = filtered_df['Passengers'].mean()

# replace the error row with the calculated average 
df.loc[df['Passengers'] > 1000, 'Passengers'] = average_passengers

# here we also do have 3 simple steps, filtering the df with the rows we want to include in the average calculation, the average calculation and the replacing
error_rows = df[
    (df['Flight_Duration_Minutes'] > 200) |  
    (df['Flight_Duration_Minutes'] < 20) |  
    (df['Price_Economy_Class'].isna()) |  
    (df['Passengers'] > 500) | 
    (df['Arrival_Airport'] != "MUC")  
]

error_rows

for the last error, we can simply replace the entries in the Destination column that are not equal to MUC with MUC

In [ ]:
# Replace all entries in 'Arrival_Airport' that are not equal to "MUC" with "MUC"
df.loc[df['Arrival_Airport'] != "MUC", 'Arrival_Airport'] = "MUC"

# Display the DataFrame after correction
error_rows = df[
    (df['Flight_Duration_Minutes'] > 200) |  
    (df['Flight_Duration_Minutes'] < 20) |  
    (df['Price_Economy_Class'].isna()) |  
    (df['Passengers'] > 500) | 
    (df['Arrival_Airport'] != "MUC")  
]

error_rows